#Navbar {
  background-color: rgb(48, 99, 211);
}

#Jumbotron {
  background-color: rgb(82, 130, 235);
  padding-top: 6rem;
}

#Projects {
  background-color: rgb(82, 130, 235);
}

footer {
  background-color: rgb(82, 130, 235);
}

section {
  padding-top: 6rem;
}
