#Navbar {
  background-color: #5282eb;
}

#Jumbotron {
  background-color: #5282eb;
  padding-top: 6rem;
}

#Projects {
  background-color: #5282eb;
}

footer {
  background-color: #5282eb;
}

section {
  padding-top: 6rem;
}
